@using Microsoft.AspNetCore.Identity;
@using BEE;
@inject UserManager<User> usermaneger;
@model BEE.cours
@{
    ViewData["Title"] = "coursessuser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pre{
    <link rel="stylesheet" href="~/esy/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/esy/css/carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/esy/css/carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/esy/css/bootstrap/bootstrap-rtl.css">
    <link rel="stylesheet" href="~/esy/css/customcss/style.css">
    <link rel="stylesheet" href="~/esy/css/fontawesome/css/all.css">
}


<div class="container">
    <div class="row">

        <div class="col-md-4 mb-3">
            <img src="~/iamges1/cours/@Model.image" style="width:350px;height:250px" class="img-fluid" alt="@Model.titel">
            <ul class="list-group text-center list-group-flush custom-list-group">
                <li class="list-group-item font-13">عنوان دوره : @Model.titel </li>
                <li class="list-group-item font-13">سطح دوره : مقدماتی تا پیشرفته</li>
                <li class="list-group-item font-13">وضعیت دوره : درحال برگزاری</li>
                <li class="list-group-item font-13">قسمت های ارسالی : @Model.video.Count()</li>
                <li class="list-group-item font-13">قیمت دوره : @Model.price تومان</li>
            </ul>
            <a class="btn btn-block btn-info" asp-action="Addtobasket" asp-controller="Oreder" asp-route-idcours="@Model.id">افزودن به سبد خرید</a>
        </div>


        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header bg-white px-0 course-table">
                    <ul class="nav nav-justified pr-0">
                        <li class="nav-item"><a href="" class="nav-link active font-14" data-toggle="list">معرفی دوره</a></li>
                        <li class="nav-item"><a href="" class="nav-link font-14" data-toggle="list">پرسش و پاسخ دوره</a></li>

                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="course-info">
                            <!-- Start course info -->

                            <h1 class="teal-text">@Model.titel</h1>

                            <center>
                                <video class="col-12" width="600" height="200" controls="controls">
                                    <source src="~/videos/cours/@Model.video" type="audio/mp4" />
                                </video>
                            </center>

                            <p class="text-justify course-text vazir font-14 my-5">
                                @Model.details
                            </p>

                            <h6 class="mb-3 mt-3">سر فصل ها :</h6>

                            <div class="mb-2 course-items px-2 py-4 d-flex align-items-center product-link">
                                <span class="bg-info count text-center text-white mr-3 font-13">5</span>
                                <span class="mr-3 font-13">هنوز قسمت ها اپلود نشده است</span>
                            </div>







                        </div>
                        <!-- End course info -->

                        <div class="tab-pane fade" id="comment">
                            <!-- Start comment -->

                            <form action="">
                                <div class="row">
                                    <div class="col form-group">
                                        <input type="text" id="name" class="form-control rounded-pill" placeholder="نام خود را وارد کنید ...">
                                    </div>
                                    <div class="col form-group">
                                        <input type="email" id="email" class="form-control rounded-pill" placeholder="ایمیل خود را وارد کنید ...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea cols="30" rows="10" class="form-control w-100 rounded-lg p-3" placeholder="دیدگاه خود را وارد کنید ..."></textarea>
                                </div>

                                <section class='rating-widget mt-2'>
                                    <!-- star rating-->
                                    <div class='rating-stars'>
                                        <ul id='stars'>
                                            <li class='star' data-tooltip='ضعیف' data-value='1'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' data-tooltip='متوسط' data-value='2'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' data-tooltip='خوب' data-value='3'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' data-tooltip='خیلی خوب' data-value='4'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' data-tooltip='عالی' data-value='5'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                        </ul>
                                    </div>
                                </section>

                                <button type="submit" class="btn btn-primary rounded-pill mr-auto d-block font-13">ارسال</button>
                            </form>

                            <div class="bg-light my-3 p-2 pb-4">
                                <div class="d-flex align-items-center">
                                    <p class="text-danger mb-0 vazir font-13">arash</p>
                                    <small class="mx-5 text-muted">15 تیر 1398</small>
                                </div>
                                <p class="text-justify my-2 vazir font-13">آیا آموزش های این دوره تموم شده یا هنوز ادامه داره ؟! </p>

                                <div class=" shadow-sm mr-5 w-75 mt-3 p-2 bg-white">
                                    <div class="d-flex align-items-center">
                                        <p class="text-danger mb-0 vazir font-13">Admin</p>
                                        <small class="mx-5 text-muted">15 تیر 1398</small>
                                    </div>
                                    <p class="text-justify my-2 vazir font-13">سلام بزودی قسمت های جدید آپلود خواهد شد.</p>
                                </div>

                            </div>


                        </div>
                        <!-- End comment -->


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{ }
